<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Makan Yuk</title>
  <style>
    
  </style>
</head>
<body>
  <h1><%= title %></h1>
    <p><button><a href="/">Home</a></button> | <button><a href="/students">Students</a></button> | <button><a href="/staffs">Staff</a></button> | <button><a href="/meals">Meals</a></button> | <a href="/staffs/logout">Logout</a></p>
  
 