<%- include('partials/header', { title: 'Home' }) %>
  <div class="jumbotron text-center">
    <h1>Makan Yuk!</h1>
    <h3>Bringing plain, ol', boring school cafeterias to a new era.</h3>
  </div>
<%- include('partials/footer') %>