<%- include('partials/header') %>
  <div class="jumbotron text-center" style="margin-top: 70px;">
    <h1 style="margin-top: 10px">Makan Yuk!</h1>
    <h3>Bringing plain, ol', boring school cafeterias to a new era.</h3>
  </div>
<%- include('partials/footer') %>