<%- include('partials/header') %>
<%- include('partials/not-home', { title: 'Add Meal' }) %>
  <div class="container">
    <form action="/meals/add" method="POST">
      <div>
        <label>Name</label><br>
        <input type="text" name="name">
      </div>
      <br>
      <div>
        <label>Stock</label><br>
        <input type="number" name="stock">
      </div>
      <br>
      <div>
        <label>Price</label><br>
        <input type="text" name="price">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Add Meal</button>
    </form>
  </div>
<%- include('partials/footer') %>