<%- include('partials/header') %>
<%- include('partials/not-home', { title: 'Meals' }) %>
  <div class="container">
    <p><a href="/meals">Back</a></p>
    <img src="<%= data.qrcode %>">
    <br>
    <br>
    <h4>Please scan the QRCode above to buy a meal!</h4>
    <br>

  </div>
<%- include('partials/footer') %>