<%- include('partials/header', { title: 'Staffs' }) %>
  <h3>Are you new?</h3>
  <a href="staffs/register"><button type="button">Register</button></a>
  <h3>Have an account?</h3>
  <a href="staffs/login"><button type="button">Login</button></a>
<%- include('partials/footer') %>