<%- include('partials/header') %>
<%- include('partials/not-home', { title: 'Students' }) %>
  <div class="container">
    <h3>Have an account?</h3>
    <a href="students/login"><button type="button" class="btn btn-primary">Login</button></a>
    <h3>If not, are you new?</h3>
    <a href="students/register"><button type="button" class="btn">Register</button></a>
  </div>
<%- include('partials/footer') %>