<%- include('partials/header') %>
<%- include('partials/not-home', { title: 'Student Login' }) %>
  <div class="container">
    <form action="/students/login" method="POST">
      <div>
        <label>Username</label><br>
        <input type="text" name="username">
      </div>
      <br>
      <div>
        <label>Password</label><br>
        <input type="password" name="password">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
<%- include('partials/footer') %>