<%- include('partials/header', { title: 'Top-up Money' }) %>
  <form action="/topup/<%= data.id %>" method="POST">
    <label>Masukkan Jumlah Uang</label>
    <input type="text" name="money">

    <input type="submit" value="Tambahkan">
  </form>

<%- include('partials/footer') %>