<%- include('partials/header', { title: 'Top-up Money' }) %>
  <form action="/students/topup" method="POST">
    <label>Masukkan Username</label><br>
    <input type="text" name="username"><br>

    <label>Masukkan Jumlah Uang</label><br>
    <input type="text" name="money"><br>

    <input type="submit" value="Tambahkan">
  </form>

<%- include('partials/footer') %>